{% extends 'base.html' %}
{% load static %}
{% block css %}


  

{% endblock %}

{% block content %}
<hr>
<hr>
<div class="about-section gray-bg">
                <div class="container margin-top about-page">
                    <div class="row">
						<div class="col-md-8">
							<div class="about-title text-left">
										<h1>{{about.title}}</h1>
										<p class="about-padding">{{about.description1}}</p>
							</div>
							</div>
							<div class="col-md-4">
								<img class="about-img" src="{{about.img.url}}" alt="{{about.alt_text}}"/>
							</div>
						</div>
						<div class="row">
							<div class="col about-title">
								<p class="about-padding">{{about.description2}}</p>
							</div>
						</div>	
                    </div>
                </div>
            </div>
{% endblock %}