{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href = {% static "css/bootstrap.min.css" %}>
	<link rel="stylesheet" href = {% static "css/index.css" %}>
    <style>
		body{
			background-color: #dae3f1;
		}
		{% block css %}
		{% endblock %}
		footer{
			background-color: whitesmoke;
		}
		
</style>
    <title>Astroloogy Website</title>
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark navs">
		<div class="container">
	    <a class="navbar-brand" href="{% url 'basic:home' %}">Astrology page title</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon "></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav ms-auto">
	        <li class="nav-item">
	          <a class="nav-link" aria-current="Vastu" href="{% url 'basic:vastu' %}">Vastu</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" aria-current="vedic" href="{% url 'basic:vedic' %}">Vedic</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'basic:services' %}">Services</a>
	        </li>
			<li class="nav-item">
				<a class="nav-link" aria-current="Vastu" href="{% url 'basic:about' %}">About</a>
			  </li>
	        <li class="nav-item">
	          <a class="nav-link" href="{% url 'basic:contact' %}">Contact Us</a>
	        </li>
	        <!-- <li class="nav-item dropdown">
	          <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	            My Account
	          </a>
	          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
	            <li><a class="dropdown-item" href="#">Register</a></li>
	            <li><a class="dropdown-item" href="#">Login</a></li>
	            <li><hr class="dropdown-divider"></li>
	            <li><a class="dropdown-item" href="#">Profile</a></li>
	            <li><a class="dropdown-item" href="#">Settings</a></li>
	            <li><a class="dropdown-item" href="#">Logout</a></li>
	          </ul>
	        </li> -->
	      </ul>
	    </div>
	</div>
	<div class="nav-text">
		<a href="{% url 'basic:cart_detail' %}"><img class="cart-logo" src="{% static 'cart.png' %}" alt="cart-img"/></a>
	</div>
	</nav>
	
    <!-- Header End -->




    {% block content %}

    {% endblock %}




   <!-- Footer Start -->
  <footer class="">
	<!-- <div class="container">
		<p class="float-end"><a href="#">Back to top</a></p>
	</div> -->
	  <div class="container d-flex justify-content-center align-items-center">
		<a href="">Privacy</a> -
		<a href="">Terms</a> -
		<!-- <a href="">FAQ</a> . -->
		<a href="{% url 'basic:contact' %}">Contact Us</a>
	  </div>
	<div class="container d-flex justify-content-center align-items-center">
		<p class="footer-copyright">© 2021 Astrology Website, Inc.</p>
	</div>
</footer>

<!-- Bootstrap Bundle -->
<script src={% static 'js/bootstrap.bundle.min.js' %}></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1206240420244544"
     crossorigin="anonymous"></script>
</body>
</html>