{% extends "base.html" %}
{% load static %}

{% block css %}

#service-desc{
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.card-img-top{

	width:100%;
	height:240px;

}

{% endblock %}
{% block content %}
    <div class="container-fluid services-page">
		<div class="container">
				<h1 class="text-center section-heading">Services</h1>
				<hr>
		</div>

        <!-- Services -->
		<section class="container">
			<div class="row">
				{% for service in services %}
				<div class="col-md-4">
					<div class="card" style="border-radius: 10px; overflow: hidden;">
					  <img src={{service.img.url}} class="card-img-top" alt="{{service.title}}">
					  <div class="card-body">
					    <h3 class="card-title" style="font-weight: 700;">{{service.title}}</h3>
					    <p class="card-text " id="service-desc" style="font-style: italic;font-weight: 600;">{{service.description}}</p>
                        <p class="card-text"><strong><span style="color: blue;">Indian Price</span> Rs. {{service.price_local}}</strong></p>
                        <p class="card-text"><strong><span style="color: blueviolet;">International Price</span> {{service.price_outsider}} $</strong></p>
						<form action="{% url 'basic:cart_add' service.id %}" method="POST">
							{% csrf_token %}
							<input class="btn btn-outline-primary " type="submit" value="Add to cart">
						</form>
                      
					  </div>
					</div>
				</div>	
				{% endfor %}
			</div>
		</section>
		<!-- End -->
    </div>
{% endblock %}